# Basic Introduction to Python

## Variables

In [57]:
var="Hello world"
print(var)

Hello world

In [58]:
##We cannot start with numbers eg: ( 8var )
_var="Hello world"
print(_var)

Hello world

In [60]:
##Taking input for a variable
var=input("Hello\n");

Hello
Hi, Noob

## Numbers and Operators

In [61]:
a=2
b=3
c=a+b
print(c)

5

In [62]:
type(2)

int

In [63]:
type(2.5)

float

In [64]:
type("2")

str

In [65]:
## Concatenation
"2"+"3"

'23'

In [66]:
age=input("Enter your age")
new_age=age+50
print(new_age)

Enter your age20

TypeError: Can't convert 'int' object to str implicitly

Age is a string and we cannot add a string to a number

In [67]:
age=input("Enter your age")
new_age=int(age)+50
print(new_age)

Enter your age20
70

In [68]:
## operations
## order of execution: Exponential > Division/Multiplication > Addition/Subtraction
20-10/5*3**2

2.0

In [69]:
(20-10)/(5*3)**2

0.044444444444444446

In [70]:
15**2

225

In [71]:
10/225

0.044444444444444446

## Strings

In [72]:
"Hello World"

'Hello World'

In [73]:
c="Hello"

In [74]:
c

'Hello'

In [75]:
c.replace("ello","i")

'Hi'

In [76]:
dir(c)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [77]:
c.upper()

'HELLO'

In [78]:
help("".replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [79]:
"Here".replace("e","i")

'Hiri'

In [80]:
## only the first occurance is changed
"Here".replace("e","i",1)

'Hire'

In [81]:
"Hello"+"World"

'HelloWorld'

### Indexing and Spliting in Strings

In [82]:
a="Hi There!"

In [83]:
a[3]

'T'

In [84]:
type(a[3])

str

In [85]:
a[8]

'!'

indexing from 0 to n-1 ;where n= length of string

In [86]:
## another indexing system
a[-1]

'!'

In [87]:
a[-3]

'r'

In [88]:
## extracting more than one characters
a[0:1]

'H'

In [89]:
a[0:2]

'Hi'

In [90]:
a[:3]

'Hi '

In [91]:
a[3:]

'There!'

In [92]:
a

'Hi There!'

In [93]:
a[-6:-1]

'There'

In [94]:
a[-6:]

'There!'

## Lists

In [99]:
## Similar to strings
a="Hello"
b=["Hi",2,"Hello"]

In [100]:
type(a)

str

In [101]:
type(b)

list

In [102]:
b

['Hi', 2, 'Hello']

In [103]:
b[1]

2

In [104]:
type(b[1])

int

In [106]:
b[:2]

['Hi', 2]

In [107]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [108]:
b.append(3)

In [109]:
b

['Hi', 2, 'Hello', 3]

In [110]:
help(b.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [111]:
b.remove(2)

In [112]:
b

['Hi', 'Hello', 3]

## Tuples

In [115]:
## similar to lists, but are not immutable
t=("Hello",3,4.6)

In [116]:
t[-1]

4.6

In [118]:
dir(tuple)      ###try comparing with dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Dictionaries

In [124]:
l=[2,3,4] ##list
d={"Name":"Viren","Surname":"Baria"} ##dictionaries
d

{'Name': 'Viren', 'Surname': 'Baria'}

In [125]:
## "Key" : "Value"
d["Name"]

'Viren'

In [126]:
d["Surname"]

'Baria'

Hence, no indexing required pass the key to get the value

In [129]:
d={"Name":"Viren","Surname":"Baria","Cities":("Mumbai","Delhi","Daman")}

In [130]:
d

{'Cities': ('Mumbai', 'Delhi', 'Daman'), 'Name': 'Viren', 'Surname': 'Baria'}

In [131]:
d["Cities"][2]

'Daman'